application/config/database.php
application/config/config.php
application/config/email.php

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
package-lock.json
/vendor/

/assets/MegaNavbarBS4
/assets/jqueryConfirm
*.xls
*.xml

# IDE Files
#-------------------------
/nbproject/
/node_modules/
/system/
/.sass-cache/