/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28 juin 2018, 12:12:09
    Author     : francois
*/
@import "compass";
@import "_variables";

body {
    background-color: $background;
}

.fond {
    background-color: #FFF;
}
table.style1 {
    border: 1px solid $noir;
    & thead tr {
        background-color: $noir;
        color: #FFF;
        font-weight: bold;
        font-size:13px;
    }
}

table {
    font-size: 13px;
}

.modal-header {
    background-color: $noir;
    color: #FFF;
    font-size: 12px;    
    border: 1px solid #FFF;
    height: 40px;
    padding: 5px 10px;
}
.close {
    color: lightgreen;
}
.badge {
    margin: 0px;
}
.ligneClikable {
    cursor: pointer;
}
.ligneSelectionnee {
    background-color: $fondSelection;
    color: darken($fondSelection, 70);
}
.form-row label {
    margin: 6px 0px 0px 0px;
}
.inPageForm{
    border-top : 3px solid $noir;
    border-bottom : 1px solid $noir;
    background-color: lighten($background,10);
    position: relative;
}

.formloader {
    display: none;
    color: $rose;
}
.formClose {
    position: absolute;
    bottom: 2px; right: 2px;
    color: grey;
    cursor: pointer;
}

.affectation {       
    border: 1px solid;    
    padding:4px;
    font-size:12px;
    @include border-radius(4px, 4px);
}

.cadre {
    border: 1px solid $noir;
    border-top: 4px solid $noir;
    padding: 5px 15px;
    background-color: $grisClair;
    & h5 {
        margin : 6px 0px;
        color: steelblue;
    }
}

.cadre2 {
    padding: 5px 15px;
    background-color: steelblue;
    color: #FFF;
}

small{
    line-height: 75%;    
    &.light{
        color: lightsteelblue;
    }
    &.medium{
        color: gray;
    }
    &.danger{
        color: orangered;
    }
    &.slide{
        position : absolute;
        top: 3px;
        right: 3px;
    }
}

.nav-link {
    color: lighten(grey, 20);   
    &:hover {
        color: darken(grey, 20);   
    }
}
.nav-tabs .nav-link.active {
    color: #009999;
}

#listeChantiers {
    z-index : 99;
    background-color: #333236;
    -webkit-box-shadow: 6px 6px 20px 0px #d7e1fc;
    -moz-box-shadow:    6px 6px 20px 0px #d7e1fc;
    box-shadow:         6px 6px 20px 0px #d7e1fc;
    padding : 10px 50px 60px 30px;
    border:1px solid #FFF;
    border-radius : 5px;
    width : 350px;
    height:850px;
    position:absolute;
    top: 70px;
    left: -320px;    
    overflow-y: hidden;

    -ms-transition: 1s left;
    -webkit-transition: 1s left;
    transition : 1s left;
}
#listeChantiers:hover, #listeChantier:focus {
    left: -5px;
    -ms-transition: 1s left;
    -webkit-transition: 1s left;
    transition : 1s left;
}
.slideLigneAffaire {
    position:relative;
    background-color: #FFF;    
    & a{
        color: black;  
    }
}
.slideLigneChantier {
    background-color: #EEE;
    font-size:12px;
    & a{
        color:$noir;
    }
}
.progress {
    height: 5px;
}
.progress-bar {
    height: 2px;
    @include border-radius(0px, 0px);
}
#datepicker-container {
    display: none;
    background-color: #f7f7fa;
    border: 1px solid steelblue;
    @include border-radius(4px, 4px);
    padding: 0px 45px;
    margin-bottom:10px;
    text-align: center;
}

/* Mise en forme planning */
/*.div_week_end {
        
        position:absolute;
        top: 36px;
        background-image:url("../../assets/img/we_background.png");
        border:1px solid #000;
        border-radius:5px;
        width: 124px;
        opacity: 0.5;
        z-index: 1;
}*/
#tablePlanningPersonnel {
    position:relative;
    left:15px;
    & span{
        padding:5px 10px 3px 20px;
        border:1px solid $noir;
        @include border-top-left-radius(7px);
        @include border-bottom-left-radius(7px);
        & i{
            float: right;
            color:black;
            position:relative;
            top:-1px;
            font-size:18px;
        }
    }
}

.cellSemaines {
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
    font-size:11px;
    min-width: 441px;
    background: #FFF;
}
.cellJours, .cellAujourdhui {	
    width : 63px;
    font-size:10px;
    background: #FFF;
    border: 1px solid grey;
    padding-top: 3px;
}
.upright {
    border-bottom:1px solid black;
    border-right:1px solid black;
}
.reverse {
    border-top:1px solid black;
    border-right:1px solid black;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.cellAujourdhui {
    background: #33d52b;
}

.livraison {
    background: #fff;
    border:1px solid grey;
    border-right : 2px double #1f3863;
}
.matin, .matinInactif {
    border-bottom:1px solid #bdc1cc;
    background: #f4f5f7;    
    color:#f4f5f7;
}
.aprem, .apremInactif {    
    border-right:1px solid #bdc1cc;
    border-bottom:1px solid #bdc1cc;
    background: #f4f5f7;    
    color:#f4f5f7;
}
.matinInactif, .apremInactif {
    background-color: #e0d7d9;    
}
.we, .weLivraison {
    background: #2e3541;
}
.cellLivraison {
    background : #e8ebf0;
    border:1px solid grey;
    padding:3px;
    width : 63px;
}
.cell:hover, .cellLivraison:hover {
    color:#000;
    background: lightsteelblue;
    transition-property: all;
    transition-duration : 0.6s;	
}
.planningDivText {
    position:relative;
    left:2px;
    top:-3px;
    font-weight:bold;
    font-size:10px;
    cursor:pointer;
}


