/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28 juin 2018, 12:12:09
    Author     : francois
*/
@import "compass";
@import "_variables";


@media screen {
    body {
        background-color: $background;
    }

    .fond {
        background-color: #FFF;    
    }
    
    .description {
        font-size:14px;
        font-style: italic;
    }
    table.style1 {
        border: 1px solid $noir;
        & thead tr {
            background-color: $noir;
            color: #FFF;
            font-weight: bold;
            font-size:13px;
        }
    }
    table.condensed {
        & tr {
            line-height: 85%;
            & td {
                padding:3px;
            }
        }
    }

    table {
        font-size: 13px;
    }
    .modal-header {
        background-color: $noir;
        color: #FFF;
        font-size: 12px;    
        border: 1px solid #FFF;
        height: 40px;
        padding: 5px 10px;
    }
    .modal-body {
        background-color: #fbfcfd;        
    }
    .close {
        color: lightgreen;
    }
    .badge {
        margin: 0px;
    }
    .ligneClikable {
        cursor: pointer;
    }
    .ligneSelectionnee {
        background-color: $fondSelection;
        color: darken($fondSelection, 70);
    }
    .form-row label {
        margin: 6px 0px 0px 0px;
    }
    .inPageForm{
        border-top : 3px solid $noir;
        border-bottom : 1px solid $noir;
        background-color: lighten($background,10);
        position: relative;
    }
    .formloader {
        display: none;
        i {
            color: $noir;
            opacity : 0.6;
        }
    }
    .formClose {
        position: absolute;
        bottom: 2px; right: 2px;
        color: grey;
        cursor: pointer;
    }

    .affectation, .affectationEnPage, .indispo {  
        z-index: 2;
        border: 1px solid;    
        padding:3px 5px 2px 2px;
        font-size:12px;
        @include border-radius(4px, 4px);
    }
    .affectation, .indispo {
        position: absolute;
    }
    .affectationEnPage {
        position: relative;
        width: 100%;
    }
    .indispo {
        color: lighten($noir, 70);
        background-color: $noir;
        border-color: lighten($noir, 50);
        /*border-color: lighten($noir,80);*/
    }

    .cadre {
        border: 1px solid $noir;
        border-top: 4px solid $noir;
        padding: 5px 15px;
        background-color: $grisClair;
        & h5 {
            margin : 6px 0px;
            color: steelblue;
        }
    }

    .cadre2 {
        padding: 5px 15px;
        background-color: steelblue;
        color: #FFF;
    }

    small, .form-row label{
        line-height: 75%;
        font-size : 12px;
        &.light{
            color: lightsteelblue;
        }
        &.medium{
            color: gray;
        }
        &.danger{
            color: orangered;
        }
        &.slide{
            position : absolute;
            top: 3px;
            right: 3px;
        }
    }

    .nav-link {
        color: lighten(grey, 20);   
        &:hover {
            color: darken(grey, 20);   
        }
    }
    .nav-tabs .nav-link.active {
        color: #009999;
    }

    #listeChantiers {
        z-index : 99;
        background-color: #333236;
        -webkit-box-shadow: 6px 6px 20px 0px #d7e1fc;
        -moz-box-shadow:    6px 6px 20px 0px #d7e1fc;
        box-shadow:         6px 6px 20px 0px #d7e1fc;
        padding : 10px 50px 60px 30px;
        border:1px solid #FFF;
        border-radius : 5px;
        width : 350px;
        height:850px;
        position:absolute;
        top: 70px;
        left: -320px;    
        overflow-y: hidden;

        -ms-transition: 1s left;
        -webkit-transition: 1s left;
        transition : 1s left;
    }
    #listeChantiers:hover, #listeChantier:focus {
        left: -5px;
        -ms-transition: 1s left;
        -webkit-transition: 1s left;
        transition : 1s left;
    }
    .slideLigneAffaire {
        position:relative;
        background-color: #FFF;    
        & a{
            color: black;  
        }
    }
    .slideLigneChantier {
        background-color: #EEE;
        font-size:12px;
        & a{
            color:$noir;
        }
    }
    .progress {
        height: 10px;
        font-size : 9px;
    }
    .progress-bar {
        height: 10px;
        @include border-radius(0px);
    }
    #datepicker-container {
        display: none;
        background-color: #f7f7fa;
        border: 1px solid steelblue;
        @include border-radius(4px);
        padding: 0px 45px;
        margin-bottom:10px;
        text-align: center;
    }

    #tablePlanningPersonnel {
        position:relative;
        left:15px;
        & span{
            padding:5px 10px 3px 20px;
            border:1px solid $noir;
            @include border-top-left-radius(7px);
            @include border-bottom-left-radius(7px);
            & i{
                float: right;
                color:black;
                position:relative;
                top:-1px;
                font-size:18px;
            }
        }
    }

    .cellSemaines {
        border-top:1px solid black;
        border-bottom:1px solid black;
        border-right:1px solid black;
        font-size:11px;
        background: #FFF;
    }
    .cellJours, .cellAujourdhui {	
        font-size:10px;
        background: #FFF;
        border: 1px solid grey;
        padding-top: 3px;
        text-align: center;
    }

    .cellAujourdhui {
        background: #33d52b;
    }

    .livraison {
        background: #fff;
        border:1px solid grey;
        border-right : 2px double #1f3863;
        margin-bottom : 1px;
        max-height : 25px;   
        & i{
            position: relative;
            top : -3px;
            margin : 0px;
            padding : 0px;
            font-size : 10px;
        }
    }
    .matin, .matinInactif {
        width: 50%;
        border-bottom:1px solid #bdc1cc;
        background: #f4f5f7;    
        color:#f4f5f7;
    }
    .aprem, .apremInactif {   
        width: 50%;
        border-right:1px solid #bdc1cc;
        border-bottom:1px solid #bdc1cc;
        background: #f4f5f7;    
        color:#f4f5f7;
    }
    .matinInactif, .apremInactif {
        background-color: #e0d7d9;    
    }
    .we, .weLivraison {
        background: #2e3541;
        width : 50%;
        text-align: right;
    }
    .cellLivraison {
        background : #e8ebf0;
        border:1px solid grey;
        padding:3px;
        width : 100%;
    }
    .cell:hover, .cellLivraison:hover {
        color:#000;
        background: lightsteelblue;
        transition-property: all;
        transition-duration : 0.6s;	
    }
    .planningDivText, .planningIndispoText {
        position:relative;
        left:2px;
        top:-3px;
        font-weight:bold;
        font-size:10px;
        cursor:pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    .selectpickerPersonnel {
        font-size:12px;
        color:$noir;    
    }
    .selectpickerClient {
        font-size:12px;
        color:steelblue;
        font-weight: bold;
    }
    .selectpickerAchat {
        font-size:13px;
        color:steelblue;
        font-weight: bold;
    }
    .selectpickerAnnotation {
        font-size:12px;
        color:gray;
        font-style: italic;
    }
    .dropdown-item.active, .dropdown-item:active{
        background-color: lavender;    
    }

    #modalAffectation {
        & a{
            color: steelblue;
        }
    }
    #masquePlanning {  
        display: none;
        position : absolute;
        background-color: $noir;
        opacity : 0.7;
        z-index:10;    
        height: calc(100% - 55px);
    }

    .livraison {
        height : 30px;
        width : 45%;
        text-align: center;
        font-size: 12px;
        @include border-radius(4px);
        cursor:pointer;
        position:relative;
        float:right;
        margin-right : 2px;
        padding:5px 3px 3px 2px;
        z-index:10;
    }
    .popover{
        min-width: 400px;
        z-index:50;
    }
    #tableHeures {
        background-color: #FFFFFF;
        & tbody tr {
            height: 68px;
        }    
        & tbody td {
            padding: 4px 4px 10px 4px;
        }    
    }
    .cadreHeure, .cadreHeureLight{    
        position:relative;
        font-weight:bold;
        padding : 0px 2px;    
        font-size: 12px;
        text-align: center;
        margin: 2px;
        float:left;
        min-width: 65px;
        @include border-radius(8px);
        @include box-shadow($noir 3px 3px 10px);
    }
    .cadreHeureLight {
        width:24%;
    }
    .cadreHeure {
        width:47%;
    }
    .heureSelect {
        font-size:22px;
        width:inherit;    
        background-color: inherit;
        border : none;
        color: inherit;
        font-weight:bold;
        text-align: center;
        padding: 0px 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        & option {
            font-size: 15px;
            color: $noir;
        }
        &:focus {
            outline: none;
        }
    }
    .trou {
        border: 3px solid #FFF;
        @include border-radius(9px);    
        position:absolute;
        top:-2px;
        left:-2px;
        width : 18px;
        height : 18px;
        &.locked {
            background-color: $noir;
            display : block;
        }
        &.valide {
            background-color: #33d52b;
            display : block;
        }
        &.unchecked {
            background-color: #fab25f;
            display : block;
            cursor: pointer;
        }
        &.empty {
            background-color: none;
            display : none;
        }    
    }

    #tablePointages {
        font-size: 10px;
        margin-top:10px;
        border:none;
        width:100%;
    }
    .inputReleve {
        //border:none;
        width:98%;
        margin-left:3px;
    }
    .inputCenter { text-align: center; }
    #enteteReleve, #piedReleve {display:none;}

    #enteteAffaire {
        background-color: $noir;
        color: #EEE;
    }

    #tableAnalyseFicheChantier tbody tr {
        text-align: right;
    }
    #tableAnalyseFicheChantier tbody td {
        position: relative;
        text-align: right;
    }

    .badgeAnalyseChantier {
        font-size: 12px;
    }

    #selectChantierFiche{
        font-size : 20px;
        width:60%;
        color: #FFF;
        border-color: steelblue;
        background-color: $noir;
    }

    #changeLandscape {
        position:absolute;
        top:0px;
        left:0px;
        height:100%;
        width:100%;
        z-index:1000;           
        background-color: $noir;
        text-align: center;
        padding-top: 30px;
        color: #f7f5ff;
        font-size: 30px;
        display:none;
    }
    #clavier {
        text-align: center;
        font-size:15px;
        font-weight: bold;
        & td button {
            width: 100%;
            height:40px;
            font-size:18px;
            font-weight: bold;
        }
    }
    #changeLandscapeIcon {
        display: inline-block;
        animation: rotation 3s infinite linear;
        font-size : 60px;
    }

    @keyframes rotation {
        50% {
            transform: rotate(90deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    
    #statsAnneeSelector {        
        background-color: #343a40;
        padding: 10px 10px 5px 10px;
        position: relative;
        top:-10px;
    }
}

@media print {
    @page {
        size: landscape;        
    }
    #topBar, .modal, #formPointage {
        display : none;
    }
    #tablePointages, #enteteReleve {
        display : block;
        font-size : 10px;
    }
    input {
        border : 0px;
        padding : 0px;
        margin : 0px;
        width : 90%;
        margin-left : 2px;
    }
    .inputCenter { text-align: center; }
    #btnReleveSave {display:none;}
    #btnReleveDel {display:none;}
}



