/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28 juin 2018, 12:12:09
    Author     : francois
*/
@import "compass";
@import "_variables";

body {
    background-color: $background;
}

.fond {
    background-color: #FFF;
}
table.style1 {
    border: 1px solid $noir;
    & thead tr {
        background-color: $noir;
        color: #FFF;
        font-weight: bold;
        font-size:13px;
    }
}

table {
    font-size: 13px;
}

.modal-header {
    background-color: $noir;
    color: #FFF;
    font-size: 12px;    
    border: 1px solid #FFF;
    height: 40px;
    padding: 5px 10px;
}
.close {
    color: lightgreen;
}

.ligneClikable {
    cursor: pointer;
}

.inPageForm{
    border-top : 3px solid $noir;
    border-bottom : 1px solid $noir;
    background-color: lighten($background,10);
    position: relative;
}

.formloader {
    display: none;
    color: $rose;
}
.formClose {
    position: absolute;
    bottom: 2px; right: 2px;
    color: grey;
    cursor: pointer;
}
