/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28 juin 2018, 12:12:09
    Author     : francois
*/
@import "compass";
@import "_variables";
$hauteurFooter : 170;

@media screen {

    html, body {
        height: 100%;
    }

    body {
        background-color: lighten($background, 30);
        font-family: 'Ubuntu', sans-serif;
    }
    #header {
        background-color: $noir; 
        position:relative;
        border-bottom: 1px solid white;
        & .btn {
            font-weight: bold;
            color: lightgray;            
        }
        & .btn:hover {
            color: orange;            
        }
    }
    #animation {
        position:absolute;
        top:250px;
        width:100%;
        height:100%;
        opacity:0.2;
        z-index: 0;
    }

    .fond {
        background-color: #fafafa;
        border-left : 1px solid $noir;
        border-right : 1px solid $noir;
    }

    .affectation {
        z-index: 2;
        position:absolute;
        border: 1px solid;    
        padding:3px 5px 2px 2px;
        font-size:12px;
        height: 40px;
        @include border-radius(4px, 4px);
    }
    .showroomAffect {
        border-radius : 8px;
        height: 50px; 
        z-index: 0;
        padding: 0px 0px;
    }
    #videoAccueil {
        z-index:100;
        position:absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; 
        width: 35%;
        min-width: 400px;        
    }
    #entete {        
        margin:0px;
        padding: 0px;
        text-align: center;
        overflow-x: hidden;
        border-bottom: 1px solid $noir;
    }
    #contenu {
        position: relative;
        min-height: 100%;  
        margin-bottom: unquote( '-' + $hauteurFooter + 'px ' );
        /*        & a {            
                    color: #45acf8;
                }*/
    }
    #contenu:after {
        content: "";
        display: block;
    }
    .cadre {
        border: none;
        color: #5b5d6e;
        padding:10px;
        text-align: center;        
        & .fas {
            font-size:50px;
            color: #5b5d6e;
        }
        margin:0px;
    }
    #imgEnteteLg, #imgEnteteSm {
        width: 100%;
        position: relative;        
        margin-left: 50%;
        transform: translateX(-50%);
    }
    #imgEnteteLg {
        min-width: 700px;
    }
    #imgEnteteSm {
        min-width: 300px;
    }

    #footer {
        background-color: $noir; 
        position:relative;
        border-bottom: 1px solid white;
        //min-height: unquote($hauteurFooter + 'px');  
        color: #cccccc;
        & a {            
            color: #fafafa;
        }
        & i {            
            margin: 0px 8px;
        }
    }
    #footer, #contenu:after {
        min-height: unquote($hauteurFooter + 'px'); 
    }
    .formloader {
        display: none;
        i {
            color: $noir;
            opacity : 0.6;
        }
    }    

    @media screen and (max-width:649px) {
        #imgEnteteLg{
            display: none;
        }
        #imgEnteteSm{
            display: block;
        }
        #cadre {
            font-size:15px;
        }
    }
    @media screen and (min-width:650px) {
        #imgEnteteLg{
            display: block;
        }
        #imgEnteteSm{
            display: none;
        }
        #cadre {
            font-size:25px;
        }
        #sectionTarif {
            border-left: 1px dashed grey;
        }
    }

}